body {
  margin: 0;
  line-height: normal;
}
.home,
.tina-app {
  position: relative;
}
.tina-app {
  line-height: 78px;
  display: inline-block;
  width: 210px;
  flex-shrink: 0;
}
.home {
  line-height: 120%;
}
.home-parent {
  width: 943px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  font-size: var(--font-size-sm);
  color: var(--palette-black);
  font-family: var(--font-poppins);
}
.arrow-big-down-icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.arrow-big-down {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.descarga-tina {
  position: relative;
  font-size: 24px;
  line-height: 120%;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--palette-black);
  text-align: center;
}
.botton {
  cursor: pointer;
  border: 0;
  padding: 13px 35px;
  background-color: var(--palette-light-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 10px;
}
.tina-app-parent,
.top-menu {
  display: flex;
  justify-content: flex-start;
}
.tina-app-parent {
  align-self: stretch;
  border-top: 1px solid var(--home2-primary);
  flex-direction: row;
  padding: var(--padding-md) 100px;
  align-items: center;
  gap: 105px;
}
.top-menu {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: #9e9bf2;
  width: 1920px;
  flex-direction: column;
  align-items: flex-start;
}
.group-child {
  position: absolute;
  top: 55px;
  left: 60px;
  border-radius: 39px;
  background-color: var(--palette-light-purple);
  width: 425px;
  height: 29px;
}
.que-hace-tina {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 134%;
  text-transform: uppercase;
}
.rectangle-parent {
  position: absolute;
  top: 1335px;
  left: 237px;
  width: 566px;
  height: 88px;
  text-align: right;
  font-size: 66px;
  color: #000;
  font-family: var(--font-poppins);
}
.descargar-app {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.descargar-app-wrapper {
  position: absolute;
  top: 2039px;
  left: 358px;
  border-radius: 15px;
  background-color: var(--palette-med-blue);
  width: 415px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md) 30px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
}
.lorem-ipsum-dolor {
  border: 0;
  background-color: transparent;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  position: absolute;
  top: 1471px;
  left: 113px;
  color: var(--secondary-homr-2);
  text-align: left;
  display: inline-block;
  width: 938px;
}
.frame-child {
  position: absolute;
  top: 0;
  left: -1920px;
  width: 1920px;
  height: 1009px;
  object-fit: cover;
}
.frame-item,
.rectangle-group {
  position: absolute;
  height: 1012px;
}
.frame-item {
  top: 0;
  left: 0;
  width: 1247px;
  object-fit: cover;
  display: none;
}
.rectangle-group {
  top: 118px;
  left: 1920px;
  width: 1920px;
  overflow: hidden;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.prueba-web-child {
  position: absolute;
  top: 327px;
  left: 46px;
  border-radius: 80px;
  width: 669px;
  height: 896.6px;
}
.my-project-1 {
  position: absolute;
  top: 79px;
  left: 2px;
  width: 1916px;
  height: 1048px;
  object-fit: cover;
}
.prueba-web-item {
  position: absolute;
  top: 1316px;
  right: 150px;
  width: 617.04px;
  height: 811.5px;
}
.prueba-web {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2341px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--palette-white);
  font-family: var(--font-josefin-sans);
}
